:root{
  --Color1:#EDB60F;
  --Color2:#229DA8;
  --Color3:#3568A5;
  --Color4:#B37D55;
  
  --Color11:#FCF1CE;
  --Color12:#FAE39D;
  --Color13:#F7D46B;
  --Color14:#B1890B;
  --Color15:#775B06;

  --Color21:#CAF2F5;
  --Color22:#97E4EB;
  --Color23:#64D6E0;
  --Color24:#1A747B;
  --Color25:#114E53;

  --Color31:#D2E1F1;
  --Color32:#A7C2E3;
  --Color33:#79A3D6;
  --Color34:#284E7B;
  --Color35:#1B3352;

  --Color41:#EFE4DD;
  --Color42:#E0CABB;
  --Color43:#D1B099;
  --Color44:#895C3D;
  --Color45:#5B3D28;

  --ColorG1:#F2F2F2;
  --ColorG2:#D9D9D9;
  --ColorG3:#BFBFBF;
  --ColorG4:#A6A6A6;
  --ColorG5:#808080;
  --ColorG6:#595959;
  --ColorG7:#404040;
  --ColorG8:#262626;
  --ColorG9:#0D0D0D;

  --FontSize1:14px;
  --FontSize2:20px;
  --FontSize3:24px;
  --FontSize4:36px;
  --FontSize5:48px;
  --FontSize6:72px;
}

body {
  background-color: white;
  font-family: 'Neuton', Arial, sans-serif;
  color: var(--ColorG7);
}

h1, h2, h3, h4, h5, h6, p, .codebox {
  margin: 0px 200px;
  padding: 10px 0px;
  font-weight: normal;
}

h1 {
  font-size: var(--FontSize1);
}

h2 {
  font-size: var(--FontSize2);
}

h3 {
  font-size: var(--FontSize3);
}

h4 {
  font-size: var(--FontSize4);
}

h5 {
  font-size: var(--FontSize5);
}

h6 {
  font-size: var(--FontSize6);
}

p {
  font-size: var(--FontSize2);
}


a:link, a:visited {
  color: var(--Color2);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--Color2);
  text-decoration: none;
  background-color: var(--Color21);
}

hr {
  width: 50%; 
}

table {
  width: 100%;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width = 100%;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--ColorG2);
  width = 100%;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: var(--ColorG7);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-weight: bold;
  font-size: var(--FontSize3);
}


.navbar li a:hover, .navbar li a:active {
  background-color: var(--Color1);
  color: black;
}


.topband h6 {
  margin: 0;
  color: white;
  background-color: var(--ColorG8);  
  font-size: var(--FontSize6);
  font-weight: normal;
  padding: 10px;
  text-align: center;
}

.topband p {
  margin: 0;
  color: white;
  background-color: var(--ColorG8);  
  font-size: var(--FontSize2);
  font-weight: normal;
  padding: 14px 14px;
  text-align: center;
}

.sidebar {
  position: fixed;
  z-index: 1; /* Stay on top stack*/
  overflow-x: hidden; /* Disable horizontal scroll */
  width:150px;
  padding-top:10px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width = 100%;
}

.sidebar li a {
  display: block;
  color: var(--ColorG3);
  padding: 5px;
  text-decoration: none;
  font-size: var(--FontSize1); 
}

.sidebar ul ul a {
  padding-left: 15px;
} 

.sidebar li a:hover, .sidebar li a:active {
  color: var(--Color1);
  font-size: var(--FontSize1);
  background-color: var(--ColorG1);
}

.centerimage {
 text-align:center;
 margin-left: auto;
 margin-right: auto;
 display:block;
 }

.centerimage150px {
 text-align:center;
 margin-left: auto;
 margin-right: auto;
 display:block;
 width: 100%; 
}

.centerimage150px img {
 width: 150px; 
}

.codebox {
  /* Below are styles for the codebox (not the code itself) */
  border:var(--ColorG5);
  background-color:var(--Color11);
  overflow:auto;
  width: 50%;
  border-radius: 10px;
}

.codebox pre {
  /* Styles in here affect the text of the codebox */
  font-size:var(--FontSize1);
  font-family: 'Roboto Mono', 'Courier New', monospace;
  color: black;
  padding: 0px 10px;
}

.newsbox {
  /* Below are styles for the newsbox (not the text itself) */
  border:var(--ColorG5);
  overflow:auto;
  height: 300px;
  width: 80%;
  margin: 0px 200px;
  border-radius: 0px;
  background: var(--Color41)
 }

.newsbox h4 {
  /* Styles in here affect the text of the newsbox */
  font-size:var(--FontSize2);
  padding: 5px 5px;
  margin: 0px;
}

.newsbox p {
  /* Styles in here affect the text of the newsbox */
  font-size:var(--FontSize1);
  padding: 0px 5px;
  margin: 0px;
}
